%clearfix::after {
  content: '';
  display: table;
  clear: both;
}

%subtitle {
  display: block;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.6rem;
  font-weight: $light;
  line-height: normal;
  margin: 120px 0 30px 0;
  letter-spacing: 0.05em;
  text-align: center;
  text-transform: uppercase;
}

.subtitle {
  @extend %subtitle;
}

%title {
  display: block;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.9rem;
  font-weight: $super-bold;
  margin: 30px 0;
  letter-spacing: 0.03em;
  text-align: center;
}
