{% extends "home/base.html" %}

{% block title %}
  Wszyscy pracownicy
{% endblock %}

{% block content %}
<section class="employees">
  {% for employee in employees %}
    <div class="employee">
      <div class="employee-name">
        {{ employee.first_name }} {{ employee.last_name}}
      </div>

      <div class="employee-buttons">
        <a href="{% url 'edit_employee' employee.id %}" class="button button-rounded button-red button-with-icon">
          <i class="fa fa-wpforms" aria-hidden="true"></i>
          <span>
            Edytuj
          </span>
        </a>
      </div>
    </div>
  {% endfor %}
</section>
{% endblock %}
