{% extends "home/base.html" %}

{% block title %}
  Wszyscy pracownicy
{% endblock %}

{% block content %}
<table class="table--hover table--shadow">
  <thead>
    <tr>
      <th>Imię</th>
      <th>Nazwisko</th>
      <th>Email</th>
      <th>Numer telefonu</th>
      <th class="center">Edytuj</th>
    </tr>
  </thead>
  <tbody>
    {% for employee in employees %}
      <tr>
        <td>{{ employee.first_name }}</td>
        <td>{{ employee.last_name }}</td>
        <td>{{ employee.email }}</td>
        <td>{{ employee.telephone_number }}</td>
        <td class="table__cell--center icon edit"><a href="{% url 'edit_employee' employee.id %}"><i class="fa fa-pencil"></i></a></td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
