{% extends "home/landing_page.html" %}

{% block content %}
<div class="title">
  Logowanie
</div>

{% if messages %}
  <div class="alerts">
    {% for message in messages %}
      <div class="alert alert-rounded {{ message.tags }}">{{ message }}</div>
    {% endfor %}
  </div>
{% endif %}

<form method="post" class="element-form">
  <input type="hidden" name="next" value="{% url 'home:navigate' %}" />
  {% csrf_token %}

  <div class="input-line">
    {{ form.username }}
    {{ form.username.label_tag }}
  </div>
  {{ form.username.errors }}

  <div class="input-line">
    {{ form.password }}
    {{ form.password.label_tag }}
  </div>
  {{ form.password.errors }}

  <button type="submit" class="button button-rounded button-green">Zaloguj</button>
</form>
{% endblock %}
