{% extends "home/landing_page.html" %}

{% block content %}
<div class="title">
  Logowanie
</div>

<form method="post" class="element-form">
  <input type="hidden" name="next" value="{% url 'caffe_navigate' %}" />
  {% csrf_token %}

  <div class="input-line">
    {{ form.username }}
    {{ form.username.label_tag }}
  </div>
  {{ form.username.errors }}

  <div class="input-line">
    {{ form.password }}
    {{ form.password.label_tag }}
  </div>
  {{ form.password.errors }}

  <button type="submit" class="button button-rounded button-green">Zaloguj</button>
</form>
{% endblock %}
