.container
  display: flex
  flex-direction: row
  min-height: 100%

.left-pane
  background-color: $left-pane-background-color
  box-shadow: 5px 0 10px 2px #cfcfcf
  color: $left-pane-color !important
  padding: 40px 0px
  width: 200px
  min-height: 100%
  z-index: 1000
  -webkit-box-shadow: 5px 0 10px 2px #cfcfcf


  a
    color: $left-pane-color
    text-decoration: none

  ul
    padding-left: 20px
    list-style-type: none

    li
      padding: 0px
      margin: 0px
      margin-top: 20px

      &:first-child
        margin-top: 0px

      a
        color: #ffffff

        &:hover
          color: #d2d1d1

.right-pane
  background-color: $right-pane-background-color
  color: $right-pane-color !important
  padding: 20px 20px
  width: auto
  min-height: 100%


  a
    color: $right-pane-color
    text-decoration: none

.employees-container
  display: flex
  flex-direction: row
  margin: 50px

  .employee
    +border-radius(3px)
    display: block
    background-color: #d9d1a6
    margin: 0 auto
    text-align: center
    width: 300px
    height: 200px


    .meta
      display: block
      margin-top: 60px
      margin-bottom: 30px

    .login
      display: block
      color: #6bb6ec

      &:hover
        color: #adb6ff
