.new
  display: block
  margin: 0 auto
  margin-top: 40px
  margin-bottom: 60px
  text-align: center
  width: 100%

  a
    margin: 0px 20px

.subtitle
  display: block
  font-family: "Helvetica Neue", sans-serif
  font-size: 1.9rem
  font-weight: 100
  margin: 120px 0 30px 0
  letter-spacing: 0.1em
  line-height: 2.4rem
  text-align: center
  text-transform: uppercase

.reports-container
  display: flex
  flex-direction: row
  flex-flow: row wrap
  font-size: 1.2rem
  line-height: 1.5em
  text-align: center

  .report
    +border-radius(5px)
    display: flex
    justify-content: center
    flex-direction: column
    padding: 20px
    margin: 20px
    border: 2px solid #dedede
    width: 300px
    height: 130px

    .meta
      text-align: center

    .button
      margin: auto
      margin-bottom: 0
      max-width: 150px


.show-report
  display: block
  margin: 0 auto
  margin-top: 60px

  .date
    display: block
    font-size: 1.4rem
    padding: 10px
    margin-bottom: 10px
    line-height: 1.5em
    text-align: center

  .button
    display: table
    margin: 0px auto 60px auto

  .categories
    display: flex
    justify-content: space-between
    flex-direction: row
    flex-flow: row wrap

    .category
      padding: 1rem
      padding-top: 0
      margin: 30px 20px
      border: 3px solid #000000
      width: 430px

      .category-name
        font-family: "Fjord One", sans-serif
        font-size: 1.7rem
        font-weight: 400
        margin-bottom: 1.5em
        border-bottom: 2px solid #000000
        letter-spacing: 0.1em
        line-height: 1.8em
        text-align: center

      .products
        display: block

        .product
          display: flex
          font-size: 1.1rem
          font-weight: 100
          margin: 20px 0

          &::before
            content: ""
            display: inline

          .name, .amount, .unit
            display: inline-block

          .name
            flex: 2
            font-weight: 600

          .amount, .unit
            flex: 1

          .amount
            text-align: center

          .unit
            text-align: right


.elements
  display: flex
  justify-content: center
  flex-direction: row
  flex-flow: row wrap

  .element
    +border-radius(5px)
    +transition(all 0.3s)
    font-size: 1.3rem
    padding: 20px
    margin: 30px
    border: 2px solid #000000
    line-height: 1.7rem
    text-align: center
    width: 250px

    &:hover
      background-color: #f2c53d
      color: #ffffff
      border-color: #ffffff

    i
      display: block
      font-size: 2em
      margin-bottom: 0.5em

.element-form
  +border-radius(5px)
  display: block
  font-size: 1rem
  padding: 20px 30px
  margin: 0 auto
  border: 1px solid #cccccc
  text-align: center
  max-width: 500px

  input
    outline: none
    -webkit-appearance: none
    -moz-appearance: none
    appearance: none

  input, select, .input-wrapper
    &:hover + label, &:active + label, &:focus + label
      color: #98c4fe

  .input-line
    position: relative
    padding-top: 20px
    margin: 15px 0

    .amount
      display: flex

      input
        flex: 1
        border-top-right-radius: 0px
        border-bottom-right-radius: 0px

      .unit
        +border-radius(4px)
        display: flex
        align-items: center
        font-family: "Circular", sans-serif
        font-weight: 100
        padding: 0px 25px
        margin: 8px 0px
        border: 2px solid #000000
        border-left: none
        border-top-left-radius: 0px
        border-bottom-left-radius: 0px
        line-height: normal
        text-align: center

  label
    +transition(all 0.3s)
    position: absolute
    top: 0
    left: 0
    font-size: 0.9em
    font-weight: 100
    color: #989595
    text-align: left

  input[type=text], input[type=number]
    +border-radius(4px)
    +transition(all 0.3s)
    display: inline-block
    box-sizing: border-box
    font-size: 1em
    padding: 8px 15px
    margin: 8px 0
    border: 2px solid #000000
    line-height: 1.6em
    width: 100%

    &:hover, &:active, &:focus
      border-color: #98c4fe


  .input-wrapper
    &::after
      content: "\f0d7"
      display: inline-block
      position: absolute
      top: 39px
      right: 25px
      font-family: FontAwesome
      font-size: 1.5em

    select
      +border-radius(4px)
      display: inline-block
      box-sizing: border-box
      font-size: 0.9em
      padding: 5px 15px
      margin: 8px 0
      border: 2px solid #000000
      line-height: 1.6em
      outline: none
      width: 100%
      -webkit-appearance: none
      appearance: none
      -moz-appearance: none


  .errorlist
    font-size: 0.8rem
    font-weight: 200
    color: #f44242
    padding: 0
    margin: 0
    margin-top: -15px
    margin-bottom: 20px

    li
      padding: 10px 0
      margin-left: 40px

  select
    margin: 8px 0
    width: 100%

  button[type=submit], button[type=cancel]
    display: inline-block
    margin: 0 15px
    margin-top: 40px


.elements-subtitle
  display: block
  font-family: "Helvetica Neue", sans-serif
  font-size: 1.9rem
  font-weight: 100
  margin: 100px 0 50px 0
  letter-spacing: 0.1em
  line-height: 2.4rem
  text-align: center
  text-transform: uppercase

.elements-container
  font-size: 1.1rem
  margin: 30px 0 100px 0px
  list-style: none

  .element
    padding: 20px 0 20px 50px
    border-bottom: 2px solid #000000

    &:first-child
      margin-top: 0
      border-top: 2px solid #000000

    &:last-child
      margin-bottom: 0

    &:hover
      background-color: rgb(250, 250, 250)

    .desc
      display: inline-block
      padding-right: 150px
      min-width: 180px
