.stencil-meta
  display: block
  font-family: "Helvetica Neue", sans-serif
  font-size: 1.7rem
  text-align: center
  margin: 0 auto
  margin-bottom: 15px
  letter-spacing: 0.05em

  .name
    display: block
    padding: 10px
    margin-bottom: 5px
    line-height: normal
    font-weight: 900

  .description
    display: block
    font-size: 0.64em
    font-weight: 200
    line-height: normal
    margin-bottom: 35px

.stencils-new-report
  @extend .display-report
  display: block
  margin: 0 auto
  margin-top: 60px

  .button
    display: table !important
    margin: 50px auto 60px auto !important

  .category
    width: 480px !important

  .product
    .name
      flex: 4 !important

    .amount, .unit
      flex: 2 !important

    .unit
      text-align: center !important

    .trash
      flex: 1 !important
      font-size: 2em
      color: $red-color
      cursor: pointer
      text-align: center

      &:hover, &:active, &:focus
        font-size: 2.3em
        color: darken($red-color, 20%)

.stencil-report-form
  @extend .form

  .select-product
    margin-top: -10px
    margin-bottom: 40px

  input[type=number]
    font-size: 0.85em
    padding: 5px 15px

.stencils-container
  display: flex
  flex-direction: row
  flex-flow: row wrap
  justify-content: space-around
  font-size: 1.2rem
  line-height: 1.5em
  text-align: center

  .stencil
    +border-radius(5px)
    display: flex
    justify-content: space-between
    flex-direction: column
    padding: 20px
    margin: 20px
    border: 2px solid #dedede
    width: 420px
    height: 100%

    .stencil-meta
      @extend .stencil-meta
      font-size: 1.5rem

    .buttons
      display: flex
      align-items: center
      justify-content: space-around


.show-stencil
  @extend .display-report

  display: block
  margin: 0 auto
  margin-top: 60px

  .meta
    display: block
    font-size: 1.7rem
    text-align: center
    width: 70%
    margin: 0 auto
    margin-bottom: 15px

    .name
      display: block
      padding: 10px
      margin-bottom: 5px
      line-height: normal
      font-weight: 700

    .description
      display: block
      font-size: 0.65em
      font-weight: 100
      line-height: normal
      margin-bottom: 35px
