@font-face {
  font-family: Circular;
  src: url(https://sp-bootstrap.global.ssl.fastly.net/5.0.1/fonts/circular-light.eot);
  src: url(https://sp-bootstrap.global.ssl.fastly.net/5.0.1/fonts/circular-light.eot?#iefix) format('embedded-opentype'), url(https://sp-bootstrap.global.ssl.fastly.net/5.0.1/fonts/circular-light.woff) format('woff');
  font-weight: 200;
  font-style: normal
}

@font-face {
  font-family: Circular;
  src: url(https://sp-bootstrap.global.ssl.fastly.net/5.0.1/fonts/circular-book.eot);
  src: url(https://sp-bootstrap.global.ssl.fastly.net/5.0.1/fonts/circular-book.eot?#iefix) format('embedded-opentype'), url(https://sp-bootstrap.global.ssl.fastly.net/5.0.1/fonts/circular-book.woff) format('woff');
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: Circular;
  src: url(https://sp-bootstrap.global.ssl.fastly.net/5.0.1/fonts/circular-medium.eot);
  src: url(https://sp-bootstrap.global.ssl.fastly.net/5.0.1/fonts/circular-medium.eot?#iefix) format('embedded-opentype'), url(https://sp-bootstrap.global.ssl.fastly.net/5.0.1/fonts/circular-medium.woff) format('woff');
  font-weight: 600;
  font-style: normal
}

@font-face {
  font-family: Circular;
  src: url(https://sp-bootstrap.global.ssl.fastly.net/5.0.1/fonts/circular-bold.eot);
  src: url(https://sp-bootstrap.global.ssl.fastly.net/5.0.1/fonts/circular-bold.eot?#iefix) format('embedded-opentype'), url(https://sp-bootstrap.global.ssl.fastly.net/5.0.1/fonts/circular-bold.woff) format('woff');
  font-weight: 800;
  font-style: normal
}

body {
  line-height:1;
}

:root, body, html {
  min-height: 100%;
  height: 100%;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
}

ul {
  padding: 0;
  margin: 0;
}

.hidden {
  display: none;
}
