.statistics
  display: flex
  justify-content: space-around
  flex-direction: row

  .statistic
    +border-radius(10px)
    display: flex
    align-content: center
    align-items: center
    justify-content: space-between
    flex-direction: column
    padding: 20px
    height: 160px
    // border: 1px solid #c1c1c1
    // width: 300px

    .info, .description
      text-align: center
      width: 100%

    .info
      font-family: "Nunito" sans-serif
      font-size: 5rem
      font-weight: $light
      color: rgb(72, 59, 78)

    .description
      font-size: 1.4rem
      font-weight: $light
      color: rgb(27, 23, 29)
