{% extends "home/base.html" %}

{% block title %}
Raporty
{% endblock %}

{% block content %}
<section class="cash-reports">
  {% for report in reports %}
    <div class="cash-report">
      <a href="{% url 'show_cash_report' report.id %}" class="cash-report__meta">
        {{ report.created_on }}
      </a>

      <a href="{% url 'show_cash_report' report.id %}" class="button button-rounded button-blue button-with-icon">
        <i class="fa fa-search" aria-hidden="true"></i>
        <span>
          Pokaż raport z kasy
        </span>
      </a>
    </div>
  {% endfor %}
</section>
{% endblock %}
