{% extends "home/base.html" %}
{% load tags %}

{% block title %}
  {{ title }}
{% endblock %}

{% block content %}

<script type="text/javascript">
(function ($, _) {
  "use strict"

  var denominations = [
    {'value': 1, 'unit': 'gr', 'amount': 0.01},
    {'value': 2, 'unit': 'gr', 'amount': 0.02},
    {'value': 5, 'unit': 'gr', 'amount': 0.05},
    {'value': 10, 'unit': 'gr', 'amount': 0.1},
    {'value': 20, 'unit': 'gr', 'amount': 0.2},
    {'value': 50, 'unit': 'gr', 'amount': 0.5},
    {'value': 1, 'unit': 'zł', 'amount': 1},
    {'value': 2, 'unit': 'zł', 'amount': 2},
    {'value': 5, 'unit': 'zł', 'amount': 5},
    {'value': 10, 'unit': 'zł', 'amount': 10},
    {'value': 20, 'unit': 'zł', 'amount': 20},
    {'value': 50, 'unit': 'zł', 'amount': 50},
    {'value': 100, 'unit': 'zł', 'amount': 100},
  ];

  $(document).ready(function() {
    _.each(denominations, function(denomination, index) {
      $('.denominations').append(
        '<div class="input-line">' +
          '<input id="' + index + '" type="number" class="denomination" value="0"/>' +
          '<label>' +
            denomination.value + ' ' + denomination.unit +
          '</label>' +
        '</div>'
      );
    });

    $('.denomination').on('input', function() {
      var sum = 0.0;
      _.each(denominations, function(denomination, index) {
        if ($('#' + index).val()) {
          sum += parseInt($('#' + index).val()) * denomination.amount;
        }
      });

      $('#id_cash_after_shift').val(sum);
    });
  });
})(jQuery, _);
</script>

<form class="denominations element-form">

</form>

<form method="POST" class="cash-form">
  {% csrf_token %}

  {% for field in form %}
    <div class="input-line">
      {% with field|field_type as field_name %}
      {% if field_name == "Select" %}
        <div class="select-wrapper">
          {{ field }}
        </div>
      {% else %}
        {{ field }}
      {% endif %}
      {% endwith %}

      {{ field.label_tag }}
    </div>
    {{ field.errors }}

  {% endfor %}

  <button type="submit" class="button button-rounded button-green">{{ button }}</button>
</form>
{% endblock %}
