@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Inconsolata:400,500,700&subset=latin,latin-ext");
@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro:400,300,700,900&subset=latin,latin-ext");
@import url("https://fonts.googleapis.com/css?family=Fjord+One");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,400italic,700italic,300italic&subset=latin,latin-ext");
/**
  TRANSITION
  **/
/**
  POSITION
  **/
/**
  BORDER
  **/
/**
  OPACITY
  **/
/**
  BOX SIZING
  **/
/**
  CLEARFIX
  **/
@font-face {
  font-family: Circular;
  src: url(https://sp-bootstrap.global.ssl.fastly.net/5.0.1/fonts/circular-light.eot);
  src: url(https://sp-bootstrap.global.ssl.fastly.net/5.0.1/fonts/circular-light.eot?#iefix) format("embedded-opentype"), url(https://sp-bootstrap.global.ssl.fastly.net/5.0.1/fonts/circular-light.woff) format("woff");
  font-weight: 200;
  font-style: normal; }
@font-face {
  font-family: Circular;
  src: url(https://sp-bootstrap.global.ssl.fastly.net/5.0.1/fonts/circular-book.eot);
  src: url(https://sp-bootstrap.global.ssl.fastly.net/5.0.1/fonts/circular-book.eot?#iefix) format("embedded-opentype"), url(https://sp-bootstrap.global.ssl.fastly.net/5.0.1/fonts/circular-book.woff) format("woff");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: Circular;
  src: url(https://sp-bootstrap.global.ssl.fastly.net/5.0.1/fonts/circular-medium.eot);
  src: url(https://sp-bootstrap.global.ssl.fastly.net/5.0.1/fonts/circular-medium.eot?#iefix) format("embedded-opentype"), url(https://sp-bootstrap.global.ssl.fastly.net/5.0.1/fonts/circular-medium.woff) format("woff");
  font-weight: 600;
  font-style: normal; }
@font-face {
  font-family: Circular;
  src: url(https://sp-bootstrap.global.ssl.fastly.net/5.0.1/fonts/circular-bold.eot);
  src: url(https://sp-bootstrap.global.ssl.fastly.net/5.0.1/fonts/circular-bold.eot?#iefix) format("embedded-opentype"), url(https://sp-bootstrap.global.ssl.fastly.net/5.0.1/fonts/circular-bold.woff) format("woff");
  font-weight: 800;
  font-style: normal; }
/*! normalize.css v4.0.0 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Prevent adjustments of font size after orientation changes in IE and iOS.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 * 2. Add the correct display in IE.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  /* 1 */
  display: block; }

/**
 * Add the correct display in IE 9-.
 */
audio,
canvas,
progress,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Add the correct display in IE 10-.
 * 1. Add the correct display in IE.
 */
template,
[hidden] {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/* Forms
   ========================================================================== */
/**
 * Change font properties to `inherit` in all browsers (opinionated).
 */
button,
input,
select,
textarea {
  font: inherit; }

/**
 * Restore the font weight unset by the previous rule.
 */
optgroup {
  font-weight: bold; }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 * 2. Show the overflow in Edge, Firefox, and IE.
 */
button,
input,
select {
  /* 2 */
  overflow: visible; }

/**
 * Remove the margin in Safari.
 * 1. Remove the margin in Firefox and Safari.
 */
button,
input,
select,
textarea {
  /* 1 */
  margin: 0; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Change the cursor in all browsers (opinionated).
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  cursor: pointer; }

/**
 * Restore the default cursor to disabled elements unset by the previous rule.
 */
[disabled] {
  cursor: default; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
input:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * Correct the odd appearance of search inputs in Chrome and Safari.
 */
[type="search"] {
  -webkit-appearance: textfield; }

/**
 * Remove the inner padding and cancel buttons in Chrome on OS X and
 * Safari on OS X.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

:root, body, html {
  min-height: 100%;
  height: 100%;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1em; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

.button {
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  display: inline-block;
  font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 0.95rem;
  background-color: #ffffff;
  cursor: pointer;
  padding: 0em 1.5em;
  margin: 0;
  border-width: 2px;
  border-style: solid;
  line-height: 36px;
  text-align: center;
  width: auto;
  height: auto;
  text-decoration: none;
  appearance: none;
  background-color: transparent !important;
  color: #000000 !important;
  border-color: #000000 !important; }
  .button:hover, .button:focus {
    background-color: #ffffff !important;
    color: #000000 !important;
    outline: none;
    text-decoration: none; }
  .button.button-rounded {
    -webkit-border-radius: 0.3em;
    -moz-border-radius: 0.3em;
    -ms-border-radius: 0.3em;
    border-radius: 0.3em;
    background-clip: padding-box; }
  .button.button-small {
    font-size: 0.85rem;
    height: auto;
    line-height: 28px; }
  .button.button-semi-big {
    font-size: 1.1rem;
    line-height: 48px;
    border-width: 3px; }
  .button:hover, .button:focus {
    background-color: #000000 !important;
    color: #ffffff !important;
    outline: none;
    text-decoration: none; }
  .button.button-green {
    background-color: transparent !important;
    color: #2ebd59 !important;
    border-color: #2ebd59 !important; }
    .button.button-green:hover, .button.button-green:focus {
      background-color: #2ebd59 !important;
      color: #ffffff !important;
      outline: none;
      text-decoration: none; }
  .button.button-green-filled {
    background-color: #2ebd59 !important;
    color: #ffffff !important;
    border-color: #2ebd59 !important; }
    .button.button-green-filled:hover, .button.button-green-filled:focus {
      background-color: #ffffff !important;
      color: #2ebd59 !important;
      outline: none;
      text-decoration: none; }
  .button.button-white {
    background-color: transparent !important;
    color: #000000 !important;
    border-color: #000000 !important; }
    .button.button-white:hover, .button.button-white:focus {
      background-color: #000000 !important;
      color: #ffffff !important;
      outline: none;
      text-decoration: none; }
  .button.button-light-blue {
    background-color: transparent !important;
    color: #4cb0f9 !important;
    border-color: #4cb0f9 !important; }
    .button.button-light-blue:hover, .button.button-light-blue:focus {
      background-color: #4cb0f9 !important;
      color: #ffffff !important;
      outline: none;
      text-decoration: none; }
  .button.button-red {
    background-color: transparent !important;
    color: #e75f5f !important;
    border-color: #e75f5f !important; }
    .button.button-red:hover, .button.button-red:focus {
      background-color: #e75f5f !important;
      color: #ffffff !important;
      outline: none;
      text-decoration: none; }

.container {
  display: flex;
  flex-direction: row;
  min-width: 100%;
  min-height: 100%; }

.left-pane {
  background-color: #2E3C54;
  color: #a1b3bb !important;
  width: 80px;
  min-height: 100%;
  font-family: Circular, Helvetica, Arial, sans-serif;
  font-weight: 400; }
  .left-pane.open {
    width: 150px; }
    .left-pane.open .description {
      opacity: 1;
      visibility: visible; }
  .left-pane ul {
    width: 100%;
    list-style-type: none; }
    .left-pane ul li {
      font-size: 0.81rem !important;
      text-align: center; }
      .left-pane ul li:first-child {
        margin-top: 0px; }
      .left-pane ul li a {
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        display: block;
        padding: 20px 0px;
        color: #a1b3bb;
        text-decoration: none;
        width: 100%;
        height: 100%; }
        .left-pane ul li a:hover, .left-pane ul li a:active, .left-pane ul li a.active {
          color: #ffffff;
          background-color: #1b2432; }
      .left-pane ul li i {
        display: block;
        font-size: 2.3rem !important;
        padding: 0.18em 0px; }
      .left-pane ul li .description {
        -moz-transition: opacity 0.5s;
        -o-transition: opacity 0.5s;
        -webkit-transition: opacity 0.5s;
        transition: opacity 0.5s;
        opacity: 0;
        visibility: hidden; }

/**
 * RIGHT PANE
 */
.right-pane {
  flex: 1;
  background-color: #ffffff;
  color: #000000 !important;
  min-height: 100%; }
  .right-pane a {
    color: #000000;
    text-decoration: none; }
  .right-pane .navigation {
    display: flex;
    flex-direction: row;
    background-color: #f1f1f1;
    color: #000000 !important;
    border-bottom: 2px solid black;
    width: 100%;
    height: 70px; }
    .right-pane .navigation .expand {
      -moz-transition: all 0.3s;
      -o-transition: all 0.3s;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
      display: inline-block;
      font-size: 2rem;
      cursor: pointer;
      margin-left: 50px;
      margin-right: auto;
      line-height: 70px; }
      .right-pane .navigation .expand:hover {
        color: #0d7587; }
    .right-pane .navigation .button {
      margin: auto 40px auto auto; }
  .right-pane .right-pane-container {
    padding: 20px 60px; }
  .right-pane .header {
    display: block;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 2.5rem;
    font-weight: 100;
    margin: 20px 0;
    margin-bottom: 40px;
    letter-spacing: 0.1em;
    line-height: normal;
    text-align: center;
    width: 100%;
    text-transform: uppercase; }

.new {
  display: block;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 60px;
  text-align: center;
  width: 100%; }

.reports-container {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  font-size: 1.2rem;
  line-height: 1.5em;
  text-align: center; }
  .reports-container .report {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    background-clip: padding-box;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    margin: 20px;
    border: 2px solid #dedede;
    width: 300px;
    height: 150px; }
    .reports-container .report .meta {
      text-align: center; }
    .reports-container .report .button {
      margin-top: auto; }

.show-report {
  display: block;
  margin: 0 auto;
  margin-top: 60px; }
  .show-report .date {
    display: block;
    font-size: 1.4rem;
    padding: 10px;
    margin-bottom: 10px;
    line-height: 1.5em;
    text-align: center; }
  .show-report .button {
    display: table;
    margin: 0px auto 60px auto; }
  .show-report .categories {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-flow: row wrap; }
    .show-report .categories .category {
      padding: 1rem;
      padding-top: 0;
      margin: 30px 20px;
      border: 3px solid #000000;
      width: 430px; }
      .show-report .categories .category .category-name {
        font-family: "Fjord One", sans-serif;
        font-size: 1.7rem;
        font-weight: 400;
        margin-bottom: 1.5em;
        border-bottom: 2px solid #000000;
        letter-spacing: 0.1em;
        line-height: 1.8em;
        text-align: center; }
      .show-report .categories .category .products {
        display: block; }
        .show-report .categories .category .products .product {
          display: flex;
          font-size: 1.1rem;
          font-weight: 100;
          margin: 20px 0; }
          .show-report .categories .category .products .product::before {
            content: "";
            display: inline; }
          .show-report .categories .category .products .product .name, .show-report .categories .category .products .product .amount, .show-report .categories .category .products .product .unit {
            display: inline-block; }
          .show-report .categories .category .products .product .name {
            flex: 2;
            font-weight: 600; }
          .show-report .categories .category .products .product .amount, .show-report .categories .category .products .product .unit {
            flex: 1; }
          .show-report .categories .category .products .product .amount {
            text-align: center; }
          .show-report .categories .category .products .product .unit {
            text-align: right; }

.elements {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-flow: row wrap; }
  .elements .element {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    background-clip: padding-box;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    font-size: 1.3rem;
    padding: 20px;
    margin: 30px;
    border: 2px solid #000000;
    line-height: 1.7rem;
    text-align: center;
    width: 250px; }
    .elements .element:hover {
      background-color: #f2c53d;
      color: #ffffff;
      border-color: #ffffff; }
    .elements .element i {
      display: block;
      font-size: 2em;
      margin-bottom: 0.5em; }

.element-form {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  background-clip: padding-box;
  display: block;
  font-size: 1rem;
  padding: 20px 30px;
  margin: 0 auto;
  border: 1px solid #cccccc;
  text-align: center;
  max-width: 500px; }
  .element-form input {
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; }
  .element-form input:hover + label, .element-form input:active + label, .element-form input:focus + label, .element-form select:hover + label, .element-form select:active + label, .element-form select:focus + label, .element-form .input-wrapper:hover + label, .element-form .input-wrapper:active + label, .element-form .input-wrapper:focus + label {
    color: #98c4fe; }
  .element-form .input-line {
    position: relative;
    padding-top: 20px;
    margin: 15px 0; }
    .element-form .input-line .amount {
      display: flex; }
      .element-form .input-line .amount input {
        flex: 1;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px; }
      .element-form .input-line .amount .unit {
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        border-radius: 4px;
        background-clip: padding-box;
        display: flex;
        align-items: center;
        font-family: "Circular", sans-serif;
        font-weight: 100;
        padding: 0px 25px;
        margin: 8px 0px;
        border: 2px solid #000000;
        border-left: none;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        line-height: normal;
        text-align: center; }
  .element-form label {
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 0.9em;
    font-weight: 100;
    color: #989595;
    text-align: left; }
  .element-form input[type=text], .element-form input[type=number] {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    background-clip: padding-box;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    display: inline-block;
    box-sizing: border-box;
    font-size: 1em;
    padding: 8px 15px;
    margin: 8px 0;
    border: 2px solid #000000;
    line-height: 1.6em;
    width: 100%; }
    .element-form input[type=text]:hover, .element-form input[type=text]:active, .element-form input[type=text]:focus, .element-form input[type=number]:hover, .element-form input[type=number]:active, .element-form input[type=number]:focus {
      border-color: #98c4fe; }
  .element-form .input-wrapper::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 39px;
    right: 25px;
    font-family: FontAwesome;
    font-size: 1.5em; }
  .element-form .input-wrapper select {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    background-clip: padding-box;
    display: inline-block;
    box-sizing: border-box;
    font-size: 0.9em;
    padding: 5px 15px;
    margin: 8px 0;
    border: 2px solid #000000;
    line-height: 1.6em;
    outline: none;
    width: 100%;
    -webkit-appearance: none;
    appearance: none;
    -moz-appearance: none; }
  .element-form .errorlist {
    font-size: 0.8rem;
    font-weight: 200;
    color: #f44242;
    padding: 0;
    margin: 0;
    margin-top: -15px;
    margin-bottom: 20px; }
    .element-form .errorlist li {
      padding: 10px 0;
      margin-left: 40px; }
  .element-form select {
    margin: 8px 0;
    width: 100%; }
  .element-form button[type=submit], .element-form button[type=cancel] {
    display: inline-block;
    margin: 0 15px;
    margin-top: 40px; }

.elements-subtitle {
  display: block;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 1.9rem;
  font-weight: 100;
  margin: 100px 0 50px 0;
  letter-spacing: 0.1em;
  line-height: 2.4rem;
  text-align: center;
  text-transform: uppercase; }

.elements-container {
  font-size: 1.1rem;
  margin: 30px 0 100px 0px;
  list-style: none; }
  .elements-container .element {
    padding: 20px 0 20px 50px;
    border-bottom: 2px solid #000000; }
    .elements-container .element:first-child {
      margin-top: 0;
      border-top: 2px solid #000000; }
    .elements-container .element:last-child {
      margin-bottom: 0; }
    .elements-container .element:hover {
      background-color: #fafafa; }
    .elements-container .element .desc {
      display: inline-block;
      padding-right: 150px;
      min-width: 180px; }

.employees-container {
  display: flex;
  flex-direction: row; }
  .employees-container .employee {
    background-color: #d9d1a6;
    text-align: center;
    width: 300px;
    height: 200px; }
    .employees-container .employee .meta {
      display: block;
      margin-top: 60px;
      margin-bottom: 30px; }
    .employees-container .employee .login {
      display: block;
      color: #6bb6ec; }
      .employees-container .employee .login:hover {
        color: #adb6ff; }
