{% load staticfiles %}
{% load tags %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:"en" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
  <head>
  {% block head %}
    <title>Caffe</title>

    <link charset="utf-8" rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">
    <link charset="utf-8" rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <script type="text/javascript" src="{% static 'js/jquery.2.2.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/js.cookie.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/lodash.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/moment.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/calendar.js' %}"></script>
  {% endblock %}
  </head>
  <body>
    <div class="container">
      <div class="left-pane open">
        <ul class="navigation">
          <li>
            <a href="{% url 'caffe_navigate' %}" class="{% active '^\/$' %}">
              <i class="fa fa-coffee"></i>
              <div class="description">Kawiarnia</div>
            </a>
          </li>
          <li>
            <a href="{% url 'reports_navigate' %}" class="{% active 'reports' %} {% active 'stencils' %}">
              <i class="fa fa-files-o"></i>
              <div class="description">Raporty</div>
            </a>
          </li>
          <li>
            <a href="{% url 'employees_navigate' %}" class="{% active 'employees' %}">
              <i class="fa fa-user"></i>
              <div class="description">Konta</div>
            </a>
          </li>
          <li>
            <a href="{% url 'calendar_navigate' %}" class="{% active 'calendar' %}">
              <i class="fa fa-calendar-o"></i>
              <div class="description">Kaledarz</div>
            </a>
          </li>
          <li>
            <a href="{% url 'statistics_navigate' %}" class="{% active 'statistics' %}">
              <i class="fa fa-line-chart"></i>
              <div class="description">Statystki</div>
            </a>
          </li>
        </ul>

        <div id="control-menu" class="expand"></div>
      </div>
      <div class="right-pane">
        <div class="navigation">
          {% if not user.is_authenticated %}
            <a href="{% url 'login_employee' %}" class="button button-orange">
              Zaloguj
            </a>
          {% else %}
            Witaj {{ user.username }}
            <a href="{% url 'logout_employee' %}" class="button button-light-blue">
              Wyloguj
            </a>
          {% endif %}
        </div>

        <div class="right-pane-container">
          <button class="button button-light-blue back-button">
            <i class="fa fa-long-arrow-left" aria-hidden="true"></i>
          </button>

          <h1 class="header">
            {% block title %}
            {% endblock %}
          </h1>

          {% block content %}
          {% endblock %}
        </div>
      </div>
    </div>

    <script type="text/javascript" src="{% static 'js/functions.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/modaal.js' %}"></script>
  </body>
</html>
