{% load staticfiles %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:"en" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
    <head>
    {% block head %}
      <title>Caffe</title>

      <link charset="utf-8" rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
      <link charset="utf-8" rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">
      <meta charset="UTF-8">
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

      <script type="text/javascript" src="{% static 'js/jquery.2.2.1.min.js' %}"></script>
    {% endblock %}
    </head>
    <body>
      <div class="container">
        <div class="left-pane open">
          <ul class="navigation">
            <li>
              <a href="/">
                <i class="fa fa-home"></i>
                <div class="description">Główna</div>
              </a>
            </li>
            <li>
              <a href="/reports/">
                <i class="fa fa-files-o"></i>
                <div class="description">Raporty</div>
              </a>
            </li>
            <li>
              <a href="">
                <i class="fa fa-calendar-o"></i>
                <div class="description">Kaledarz</div>
              </a>
            </li>
            <li>
              <a href="">
                <i class="fa fa-line-chart"></i>
                <div class="description">Statystki</div>
              </a>
            </li>
            <li>
              <a href="">
                <i class="fa fa-sign-out"></i>
                <div class="description">Wyloguj</div>
              </a>
            </li>
          </ul>
        </div>
        <div class="right-pane">
          {% block content %}
            <div class="employees-container">
              {% for employee in employees %}
                <div class="employee">
                  <div class="meta">
                    {{ employee.first_name }} {{ employee.last_name }}
                  </div>

                  <a class="login" href="/login/{{ employee.id }}">Zaloguj się</a>
                </div>
              {% endfor %}
            </div>
          {% endblock %}
        </div>
      </div>
    </body>
</html>
