{% extends "home/base.html" %}

{% block title %}
Kasa
{% endblock %}

{% block content %}
<section class="cards cards-primary">
  {% if perms.cash.add_cashreport %}
    <a href="{% url 'new_cash_report' %}" class="card">
      <i class="fa fa-money" aria-hidden="true"></i>
      Nowy raport z kasy
    </a>
  {% endif %}
</section>

<section class="cards cards-green">
  <h2 class="card-subtitle">
    Tworzenie elementów raportu z kasy
  </h2>

  {% if perms.cash.add_company %}
    <a href="{% url 'cash_new_company' %}" class="card">
      <i class="fa fa-building-o" aria-hidden="true"></i>
      Firma
    </a>
  {% endif %}

  {% if perms.cash.add_expense %}
    <a href="{% url 'cash_new_expense' %}" class="card">
      <i class="fa fa-dollar" aria-hidden="true"></i>
      Wydatki
    </a>
  {% endif %}
</section>

<section class="cards cards-red">
  <h2 class="card-subtitle">
    Podgląd i edycja
  </h2>

  {% if perms.cash.view_cashreport %}
    <a href="{% url 'show_all_cash_reports' %}" class="card">
      <i class="fa fa-money" aria-hidden="true"></i>
      Raporty z kasy
    </a>
  {% endif %}

  {% if perms.cash.view_company %}
    <a href="{% url 'cash_new_company' %}" class="card">
      <i class="fa fa-building-o" aria-hidden="true"></i>
      Firmy
    </a>
  {% endif %}

  {% if perms.cash.view_expense %}
    <a href="{% url 'cash_new_expense' %}" class="card">
      <i class="fa fa-dollar" aria-hidden="true"></i>
      Wydatki
    </a>
  {% endif %}
</section>
{% endblock %}
