{% extends "home/base.html" %}

{% block title %}
Pracownicy
{% endblock %}

{% block content %}
<section class="cards cards-primary">
  {% if perms.employees.add_employee %}
    <a href="{% url 'employees:new' %}" class="card">
      <i class="fa fa-user-plus" aria-hidden="true"></i>
      Nowy pracownik
    </a>
  {% endif %}

  {% if perms.hours.add_position %}
    <a href="{% url 'hours:new_position' %}" class="card">
      <i class="fa fa-user" aria-hidden="true"></i>
      Stanowisko
    </a>
  {% endif %}

  <a href="{% url 'employees:login' %}" class="card">
    <i class="fa fa-sign-in" aria-hidden="true"></i>
    Zaloguj
  </a>
</section>

<section class="cards cards-red">
  <h2 class="card-subtitle">
    Podgląd i edycja
  </h2>

  <a href="{% url 'employees:all' %}" class="card">
    <i class="fa fa-users" aria-hidden="true"></i>
    Pracownicy
  </a>

  {% if perms.hours.add_position %}
    <a href="{% url 'hours:new_position' %}" class="card">
      <i class="fa fa-user" aria-hidden="true"></i>
      Stanowiska
    </a>
  {% endif %}
</section>
{% endblock %}
