{% extends "home/base.html" %}

{% block title %}
Statystki
{% endblock %}

{% block content %}
<section class="statistics">
  <div class="statistic">
    <div class="info">
      10
    </div>

    <div class="description">
      Pracowników
    </div>
  </div>

  <div class="statistic">
    <div class="info">200</div>

    <div class="description">
      Raportów
    </div>
  </div>

  <div class="statistic">
    <div class="info">1'000 $</div>

    <div class="description">
      W kasie
    </div>
  </div>
</section>
{% endblock %}
