{% extends "home/base.html" %}

{% block title %}
Szablony
{% endblock %}

{% block content %}
<section class="stencils">
  {% for stencil in stencils %}
    <div class="stencil">
      <div class="stencil__name">
        {{ stencil.name }}
      </div>

      <div class="stencil__description">
        {% if stencil.description %}
          {{ stencil.description }}
        {% endif %}
      </div>

      <div class="stencil__buttons">
        {% if perms.reports.add_report %}
          <a href="{% url 'stencils:new_report' stencil.id %}" class="button button-rounded button-green button-with-icon">
            <i class="fa fa-wpforms" aria-hidden="true"></i>
            <span>
              Nowy raport
            </span>
          </a>
        {% endif %}

        <a href="{% url 'stencils:show' stencil.id %}" class="button button-rounded button-blue button-with-icon">
          <i class="fa fa-search" aria-hidden="true"></i>
          <span>
            Pokaż szablon
          </span>
        </a>
      </div>
    </div>
  {% endfor %}
</sections>
{% endblock %}
