{% extends "home/base.html" %}

{% block title %}
Nowy raport
{% endblock %}

{% block content %}
<script type="text/javascript">
(function ($) {
  "use strict"


  var categories;
  var checked;

  function getProduct(product_id) {
    var product;

    for (var i = 0; i < categories.length; ++i) {
      for (var j = 0; j < categories[i].products.length; ++j) {
        if (product_id == categories[i].products[j]['id']) {
          product = categories[i].products[j];
        }
      }
    }

    return product;
  }


  $(document).ready(function() {
    categories = {{ categories|safe }};
    checked = {{ checked|safe }};
    //console.log(categories);

    $('select').on('change', function(event, obj) {
      var category = $(this).closest('.category'); //.attr('id')
      var products = category.children('.products');
      
      var product = getProduct(this.value);
      if (product) {
        var inputStyle = ''; //default input border color

        if (obj) {
          if (obj.error) {
            //append error div if error occured
            products.append('<div>' + obj.error + '</div>');
            //change input border color if error occured
            inputStyle = " style=\"border-color:red;\""; 
          }
          var amount = obj.amount;
        }
        else {
          var amount = '';
        }

        $(this).find(":selected").remove();

        products.append('\
          <div id="' + product.id + '" class="product">\
            <input type="hidden" name="' + product.id + '" value="' + product.id + '"/>\
            <div class="name">\
              ' + product.name +'\
            </div>\
            <div class="amount">\
              <input ' + inputStyle +' type="number"\
              name="' + product.id + '" value="' + amount +'"/>\
            </div>\
            <div class="unit">\
              ' + product.unit + '\
            </div>\
            <div class="trash">\
              <i class="fa fa-trash-o" aria-hidden="true"></i>\
            </div>\
          </div>\
        ');
      }
    });

    for (var k = 0; k < checked.length; ++k) {
      var p = getProduct(checked[k]['product']);

      $('select').find('#' + p.id).parent().val(p.id).trigger(
        'change', 
        [{error:checked[k]['error'], amount:checked[k]['amount']}]
      );
    }

    $(document).on('click', '.trash', function() {
      var product = $(this).closest('.product');

      var p = getProduct(product.attr('id'));
      if (p) {
        var select = product.closest('.category').find('select');
        select.append('\
          <option id="' + p.id + '" value="' + p.id + '">' + p.name + '</option>\
        ');

        product.remove();
      }
    });
  });
})(jQuery);
</script>

<section class="stencil-title">
  <div class="name">
    {{ stencil.name }}
  </div>

  {% if stencil.description %}
    <div class="description">
      {{ stencil.description }}
    </div>
  {% endif %}
</section>

<!-- <a href="{% url 'reports_edit_report' report.id %}" class="button button-rounded button-red">
  Edytuj
</a> -->

<form method="POST" class="stencil-report-form">
  {% csrf_token %}


  <div class="categories">
    {% for category in categories %}
      <div id="{{ category.id }}" class="category">
        <div class="category-name">
          {{ category.name }}
        </div>
        <div class="select-product input-line">
          <div class="select-wrapper">
            <select>
              <option value="-1">-------------</option>
              {% for product in category.products %}
                <option value="{{ product.id }}">{{ product.name }}</option>
              {% endfor %}
            </select>
          </div>
          <label for="">Wybierz produkt</label>
        </div>

        <div class="products">
        </div>
      </div>
    {% endfor %}
  </div>

  <button type="submit" class="button button-rounded button-green">Dodaj</button>
</form>
{% endblock %}
