{% extends "home/base.html" %}

{% block title %}
Nowy raport
{% endblock %}

{% block content %}
<script type="text/javascript">
(function ($) {
  "use strict"


  var categories;
  var checked;

  function getProduct(product_id) {
    var product;

    for (var i = 0; i < categories.length; ++i) {
      for (var j = 0; j < categories[i].products.length; ++j) {
        if (product_id == categories[i].products[j]['id']) {
          product = categories[i].products[j];
        }
      }
    }

    return product;
  }

  // append previously selected products to already selected
  // and remove from avaible choices 
  function appendCheckedAndRemove() {
    for (var i = 0; i < categories.length; ++i) {
      for (var j = 0; j < categories[i].products.length; ++j) {
        for (var k = 0; k < checked.length; ++k) {
          if (categories[i].products[j]['id'] == checked[k]['product']) {
            var product = getProduct(checked[k]['product']);
            var errorMessage = '';
            console.log(checked[k]['error']['amount'])
            if (checked[k]['error']) {
              errorMessage = checked[k]['error']['amount']
            }
            //select category to which append
            var selector = ".category#" + categories[i].id;
            $(selector).children('.products').append('\
              <div id="' + product.id + '" class="product">\
                <div>' + errorMessage + '</div>\
                <input type="hidden" name="' + product.id + '" value="' + product.id + '"/>\
                <div class="name">\
                  ' + product.name +'\
                </div>\
                <div class="amount">\
                  <input type="number" name="' + product.id + '" value="' + checked[k]['amount'] +'"/>\
                </div>\
                <div class="unit">\
                  ' + product.unit + '\
                </div>\
                <div class="trash">\
                  <i class="fa fa-trash-o" aria-hidden="true"></i>\
                </div>\
              </div>\
            ');

            //remove previously selected from avaible choices
            selector = "#" + checked[k]['product'];
            $(".select-wrapper").find(selector).remove();
          }
        }
      }
    }
  }


  $(document).ready(function() {
    categories = {{ categories|safe }};
    checked = {{ checked|safe }};
    //console.log(categories);

    $('select').on('change', function() {
      var category = $(this).closest('.category'); //.attr('id')
      var products = category.children('.products');

      var product = getProduct(this.value);
      if (product) {
        $(this).find(":selected").remove();

        products.append('\
          <div id="' + product.id + '" class="product">\
            <input type="hidden" name="' + product.id + '" value="' + product.id + '"/>\
            <div class="name">\
              ' + product.name +'\
            </div>\
            <div class="amount">\
              <input type="number" name="' + product.id + '" value=""/>\
            </div>\
            <div class="unit">\
              ' + product.unit + '\
            </div>\
            <div class="trash">\
              <i class="fa fa-trash-o" aria-hidden="true"></i>\
            </div>\
          </div>\
        ');
      }
    });
      
    appendCheckedAndRemove();

    $(document).on('click', '.trash', function() {
      var product = $(this).closest('.product');

      var p = getProduct(product.attr('id'));
      if (p) {
        var select = product.closest('.category').find('select');
        select.append('\
          <option value="' + p.id + '">' + p.name + '</option>\
        ');

        product.remove();
      }
    });
  });
})(jQuery);
</script>

<div class="stencils-new-report">
  <div class="stencil-meta">
    <div class="name">
      {{ stencil.name }}
    </div>

    {% if stencil.description %}
      <div class="description">
        {{ stencil.description }}
      </div>
    {% endif %}
  </div>

  <!-- <a href="{% url 'reports_edit_report' report.id %}" class="button button-rounded button-red">
    Edytuj
  </a> -->

  <form method="POST" class="stencil-report-form">
    {% csrf_token %}

    <div class="categories">
      {% for category in categories %}
        <div id="{{ category.id }}" class="category">
          <div class="category-name">
            {{ category.name }}
          </div>

          <div class="select-product input-line">
            <div class="select-wrapper">
              <select>
                <option name="product" id="-1" value="-1">-------------</option>
                {% for product in category.products %}
                  <option name="product" id="{{ product.id }}" value="{{ product.id }}">{{ product.name }}</option>
                {% endfor %}
              </select>
            </div>
            <label for="">Wybierz produkt</label>
          </div>

          <div class="products">
          </div>
        </div>
      {% endfor %}
    </div>

    <button type="submit" class="button button-rounded button-green">Dodaj</button>
  </form>
</div>
{% endblock %}
