{% extends "home/base.html" %}

{% block title %}
Szablon
{% endblock %}

{% block content %}
<section>
  <div class="stencil__name">{{ stencil.name }}</div>

  {% if stencil.description %}
    <div class="stencil__description">{{ stencil.description }}</div>
  {% endif %}
</section>

{% if perms.stencils.change_stencil %}
  <section class="buttons">
    <a href="{% url 'stencils:edit' stencil.id %}" class="button button-rounded button-red">
      Edytuj
    </a>
  </section>
{% endif %}

<section class="categories">
  {% for category in categories %}
    <div class="category">
      <div class="category-name">
        {{ category }}
      </div>
    </div>
  {% endfor %}
</section>
{% endblock %}
