{% extends "home/base.html" %}

{% block title %}
Szablon
{% endblock %}

{% block content %}
<div class="show-report">
  <div class="date">
    <b>{{ stencil.name }}</b>
    <br>
    {% if stencil.description %}
      {{ stencil.description }}
    {% endif %}
  </div>

  <a href="{% url 'stencils_edit_stencil' stencil.id %}" class="button button-rounded button-red">
    Edytuj
  </a>

  <div class="categories">
    {% for category in categories %}
      <div class="category">
        <div class="category-name">
          {{ category }}
        </div>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
