{% extends "home/base.html" %}

{% block title %}
Szablony
{% endblock %}

{% block content %}
  <section class="new">
    <a class="button button-rounded button-green button-semi-big" href="{% url 'stencils_new_stencil' %}">
      Zarządzaj szablonami
    </a>
  </section>

  <section class="subtitle">
    Utworzone
  </section>

  <div class="stencils-container">
    {% for stencil in stencils %}
      <div class="stencil">
        <div class="stencil-meta">
          <a href="{% url 'stencils_show_stencil' stencil.id %}" class="name">
            {{ stencil.name }}
          </a>

          {% if stencil.description %}
            <a href="{% url 'stencils_show_stencil' stencil.id %}" class="description">
                {{ stencil.description }}
            </a>
          {% endif %}
        </div>

        <div class="buttons">
          <a href="{% url 'stencils_show_stencil' stencil.id %}" class="button button-rounded button-blue button-with-icon">
            <i class="fa fa-search" aria-hidden="true"></i>
            <span>
              Pokaż szablon
            </span>
          </a>

          <a href="{% url 'stencils_new_report' stencil.id %}" class="button button-rounded button-green button-with-icon">
            <i class="fa fa-wpforms" aria-hidden="true"></i>
            <span>
              Nowy raport
            </span>
          </a>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
